version: "3.9"

services:
    web:
        command: >
            sh -c "python manage.py migrate &&
                   gunicorn core.wsgi:application --bind 0.0.0.0:8000"
        expose:
            - "8000"

    nginx:
        image: nginx:alpine
        depends_on:
            - web
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx/django.conf:/etc/nginx/conf.d/default.conf:ro
            - static_volume:/app/static
            - media_volume:/app/media
            - certbot_www:/var/www/certbot
            - letsencrypt:/etc/letsencrypt
        restart: unless-stopped

    certbot:
        image: certbot/certbot
        volumes:
            - certbot_www:/var/www/certbot
            - letsencrypt:/etc/letsencrypt
        entrypoint: /bin/sh

volumes:
    certbot_www:
    letsencrypt:
