services:
    web:
        ports:
            - "8000:8000"

    db:
        ports:
            - "5432:5432"

    adminer:
        image: adminer
        environment:
            ADMINER_DEFAULT_SERVER: db
        ports:
            - "8080:8080"
        depends_on:
            db:
                condition: service_started
        restart: always
